@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");

.nav-container {
  background-color: #3b3b3b;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid var(--dark-purple);

  button {
  }
}

.intro-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 15px;
  }
}

.skills {
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
  border: 1px solid var(--dark-purple);
  background-color: #3b3b3b;

  p {
    padding: 10px;
    font-size: large;
  }
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 30px;

  h1 {
    border-bottom: 1px solid var(--dark-purple);
    margin-bottom: 15px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    margin: 0px 20px;
    justify-content: space-between;
    max-width: 1024px;
    gap: 5px;

    .project-name {
      font-size: large;
      font-family: "Montserrat", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 150px;
      height: 100%;
      gap: 5px;
      margin-left: 5px;

      h5 {
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  div {
    height: 250px;
  }
  .project {
    background-color: #3b3b3b;
    border: 1px solid var(--dark-purple);
  }
}
